/* This is formatting for the background image*/
body, html {
    height: 100%;
  }

  .bg {
    background-image: url("Assets/Images/reeds.JPG");
    height: 240%;
    background-position: center;
  }

 /*This is formatting the Navbar.*/ 
 .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  background-color: #5dee0afa;
  font-family: 'Happy Monkey', cursive;
}

/*This is formatting each page's container header.*/
H1 {
color: #5dee0afa;
text-shadow: rgb(32, 32, 32) 1px 1px 1px;
font-weight: bolder;
font-size: 50px;
font-family: 'Happy Monkey', cursive;
}

  /*This section is formatting the form on the Contact page.*/
  #message {
      height: 100px;
  }

  .btn {
    background-color: #5dee0afa;
  }

/* This is formatting for the image on the About Me page*/
#AmyP {
  height: 250px;
  border: 10px solid grey;
  margin: 5px 20px 5px 5px;
}

/*This is formatting for the images on the Portfolio page.*/
.img-thumbnail {
  height: 100%;
  width: 100%;
}

/*This is formaatting for the footer*/
footer p {
  font-weight: bold; 
  padding: 7px 0 0 0;
}

