body, html {
    height: 100%;
  }
  .bg {
    background-image: url("Assets/Images/reeds.JPG");
    height: 170%;
    background-position: center;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-size: cover;
  }

  #message {
      height: 100px;
  }

.navbar-brand {
      font-weight: bold;
      font-size: 25px;
      background-color: #5dee0afa
  }
.btn {
  background-color: #5dee0afa;
  outline: 2px solid grey;
}

H1 {
  color: #5dee0afa;
  text-shadow: rgb(32, 32, 32) 1px 1px 1px;
  font-weight: bolder;
  font-size: 50px;
}

#AmyP {
  height: 250px;
  border: 10px solid grey;
  margin: 0px 10px;
}

p {
  padding: 0px 5px;
}

.img-thumbnail {
  height: 100%;
  width: 100%;
}
